@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: futura-pt, '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', yu-gothic-pr6n, sans-serif !important;
  font-weight: 500;
  font-style: normal;
  @apply text-black;
}

h1 {
  letter-spacing: 0.08rem;
}

.wf-loading {
  display: none;
}

.wf-active {
  display: block;
}

.wf-inactive {
  font-family: @apply font-nsj;
}

.s-title {
  @apply w-fit p-1;
  border-bottom: 2px solid #3c3c3c;
  border-left: 2px solid #3c3c3c;
}

.work-title {
  @apply text-2xl font-bold mb-1;
}

.tag {
  @apply flex gap-2;
}

.tag > p {
  @apply inline-block py-1 px-4 mb-4 bg-black text-white text-sm;
}
