@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: futura-pt, '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', yu-gothic-pr6n, sans-serif !important;
  font-weight: 500;
  font-style: normal;
}
